
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Ajout Depot
</button>

<div class="alert alert-success" role="alert" *ngIf="depotAjout">
    Dépôt ajouté avec succès!
</div>
  
<div class="alert alert-danger" role="alert" *ngIf="erreurAjout">
    Erreur lors de l'ajout du dépôt. Veuillez réessayer.
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Ajout Depot</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3" (ngSubmit)="ajouterDepot()" #ajoutForm="ngForm">
                    <div class="">
                        <label for="validationDefault01" class="form-label">Nom Depot</label>
                        <input type="text" class="form-control" id="validationDefault01" name="nom_dep" [(ngModel)]="nom_dep" required>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Valider</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
