<!-- Liste Depot -->
<div class="card mt-4"  data-aos="fade-down">
  <table class="table">
      <thead>
        <tr>
          <th scope="col">Depot name</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let depot of depots">
          <td> {{depot.nom_dep}}</td>
          <td class="lesBouttons">
            <!-- <app-boutton-update
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#staticBackdrop1"
              class="me-2"
              (click)="getDepot(depot.id_dep)">
            </app-boutton-update> -->

            <app-boutton-delete
              type="button"
              class="btn btn-danger ms-2"
              (click)="alert(depot.id_dep)">
            </app-boutton-delete>
          </td>

        </tr>
  </table>
</div>

<!-- Modal Modification -->
<div  class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modification dépot</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="modifDepot">

        <form action="" (ngSubmit)="onSubmit()" #modifForm="ngForm">
          
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nom dépot</label>
            <input type="text" name="nom_dep" [(ngModel)]="depot.nom_dep" value="{{modifDepot.nom_dep}}" class="form-control" id="exampleFormControlInput1">
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Valider</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
