


  <button type="button" class="btn btn-primary position-relative"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Ajout produit
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
      {{sommes.total_p}}
    <span class="visually-hidden">unread messages</span>
    </span>
  </button>

  <div class="alert alert-success" role="alert" *ngIf="ProduitAjout">
      Produit ajouté avec succès!
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="erreurAjout">
      Erreur lors de l'ajout du produit. Veuillez réessayer.
    </div>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Ajout Produit</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form class="row g-3">

                <div class="">
                  <label for="validationDefault01" class="form-label">Désignation</label>
                  <input name="designation_p" [(ngModel)]="designation_p" class="form-control" id="validationDefault01" value="" required>
                </div>

                <div class="">
                  <label for="validationDefault01" class="form-label">Catégorie</label>
                  <input name="categorie_p" [(ngModel)]="categorie_p" type="text" class="form-control" id="validationDefault01" value="" required>
                </div>
                
                <div>
                  <img [src]="preview" class="preview" alt="">
                </div>

                @if(message){
                  <div class="alert alert-secondary">
                    {{message}}
                  </div>
                }

                <div class="">
                    <label for="validationDefault01" class="form-label">Photo</label>
                    <input (change)="selectFile($event)" name="photo_p" type="file" class="form-control" id="validationDefault01" value="" required>
                </div>
                  
                <div class="">
                  <label for="validationDefault01" class="form-label">Poid</label>
                  <input name="poid_p" [(ngModel)]="poid_p" type="number" class="form-control" id="validationDefault01" value="" required>
                </div>
                
                <div class="">
                  <label for="validationDefault01" class="form-label">Prix</label>
                  <input name="prix_p" [(ngModel)]="prix_p" type="number"  class="form-control" id="validationDefault01" value="" required>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button 
                      type="submit"
                      class="btn btn-primary"
                      data-bs-dismiss="modal"
                      [disabled]="!currentFile"
                      (click)="ajoutProduit()"
                      >Valider</button>
                </div>
              </form>
            </div>
        </div>
      </div>
    </div>

<!-- Historique produit -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Historique produit</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    ...
  </div>
</div>