
h5{
    color: white;
}
.actif{
    display: flex;
    margin: auto;
    row-gap: 2rem;
}

.bg-navbar{
  background-color: rgb(75, 72, 72);
  position: fixed;
  border-radius: 11px;
  padding: 20px;
  margin-top: 6rem;
  width: 12rem;
  height: 24rem;
}

