<div class="blockMere" data-aos="zoom-out">
  <div class="card authentification" data-aos="zoom-in">
    <div class="card-body">
      <h1>Login</h1>
        <form (ngSubmit)="login()" #loginForm="ngForm" class="mt-4">
            <div class="mb-3 row">

                <div>
                  <span class="col-sm-2 col-form-label" >
                    Email
                  </span>
                </div>
                <div class="col-sm-10">
                    <input type="email" name="email_ut" [(ngModel)]="email_ut" class="form-control" placeholder="nom@example.com">
                </div>

            </div>
            <div class="mb-3 row">
              <div>
                <span class="col-sm-2 col-form-label" >
                  Password
                </span>
              </div>
                <div class="col-sm-10">
                    <input type="password" name="mdp_ut" [(ngModel)]="mdp_ut"  class="form-control" id="inputPassword">
                </div>
            </div>
            <div class="boutton mt-5">
                <button type="submit" class="btn btn-outline-success me-2" style="width: 8rem;">Se connecter</button>
            </div>
        </form>
    </div>
  </div>
</div>
